html {
    
    height:100%;
}

body {
   background-image: url("https://cs11.pikabu.ru/post_img/big/2020/03/03/5/1583217366144345124.jpg");
    font-family: Arial, sans-serif;
    color: #cac7a2 !important;
    font-size: 8pt;
    height:100%;
}

.content{
    min-width:100%;
    min-height: 100%;
}
.main_content{
    overflow-x: hidden;
    min-height:100%;
    width: 520px;
    padding: 20px;
    vertical-align: middle;
    horiz-align: center;
    /*align-content: center;*/

}
.MainPage_buttons {
    font-size: 12pt;
}

b{
    color: white;
    text-shadow: 1px 1px 1px black;
}
li{
    list-style: none;
}

.character
{
    max-height: 50px;
    position: fixed;
}

.btn{
    color: #cac7a2 !important;
}
.sidebar_left{
    float: left;
    width: 200px;
    box-sizing: border-box;
}

.character_list{
    width: 240px;
    float: right;
    position:relative;
}
