html {

    height:100%;
}

body {
    background-image: url("https://cs11.pikabu.ru/post_img/big/2020/03/03/5/1583217366144345124.jpg");
    font-family: Arial, sans-serif;
    color: #cac7a2 !important;
    font-size: 8pt;
    height:calc(100% - 120px);
    margin:0;
}

.content{
    min-height: 100%;
    margin-left: 10px;
}
.main_content{
    overflow-x: hidden;
    max-height:500px;
    max-width: 800px;
    padding: 20px;
    min-width: 600px;
    min-height: 300px;
    display: flex;
    justify-content: center;
}
.main_content div{
    width:100%;
    background-color: black;
    opacity: 85%;
}
.MainPage_buttons {
    font-size: 12pt;
    margin-top: 250px;
    padding: 0;
}

.MainPage_buttons li{
    margin:1em;
}

b{
    color: white;
    text-shadow: 1px 1px 1px black;
}

li{
    list-style: none;
}

.btn{
    color: #cac7a2 !important;
}
.sidebar_left{
    float: left;
    width: 200px;
    box-sizing: border-box;
    min-height: 100%;
}

footer{
    height:60px;
    width:100%;
    background-color: black;
    opacity: 90%;
    box-shadow:0 0 5px black;
}

header{
    height:60px;
    width:100%;
    background-color: black;
    opacity: 90%;
    box-shadow:0 0 5px black;
}