@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="css/MainPage.css" rel="stylesheet"/>
    <title>MainPage</title>
</head>
<body>
<div class="main_content">
    @* Левый сойдбар *@
    <aside class="sidebar_left">
        <div class="row h-100">
            <div class="m-3">
                <div>
                    <b>*Character Name*</b>
                </div>
                <div>*Character Race*</div>
                <div>Level <b>*lvl*</b></div>
                <div>*Current World Location*</div>
            </div>
        </div>
    </aside>
    @* Правый сойдбар *@
    <div class="character_list col-3">
        <h4 class="m-4">Characters: <b>1/8</b></h4>
        <aside>
            <div class="character row m-0">
                <div class="col-3 p-0">
                    <img src="images/Aldmeri_Dominion_quest_banner.png" style="max-height: 50px; max-width: 50px" alt="Banner">
                </div>
                <div class="col-7 p-0 m-0">
                    <div>*Character Name*</div>
                    <div>Level <b>*lvl*</b> *specialisation*</div>
                    <div>*Current World Location*</div>
                </div>
                <div class="col-1 m-0 p-0">
                    UP
                    DOWN
                </div>
                @* Надо ещё две стрелочки вверх/вниз *@
            </div>
        </aside>
    </div>
    
    <div>
        <ul class="MainPage_buttons mt-xs-3">
            <li>
                <a href="#" type="button" class="btn btn-sm">CHARACTER</a>
            </li>
            <li>
                <a href="#" type="button" class="btn btn-sm">INVENTORY</a>
            </li>
            <li>
                <a href="#" type="button" class="btn btn-sm">SOCIAL</a>
            </li>
            <li>
                <a href="#" type="button" class="btn btn-sm">JOURNAL</a>
            </li>
            <li>
                <a href="#" type="button" class="btn btn-sm">MAIL</a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>